#copyButton, #helpMessage {
    -fx-text-fill: -fx-text-base-color;
}

#copyButton {
    -fx-background-color: -fx-control-inner-background;
}

#copyButton:hover {
    -fx-background-color: derive(-fx-control-inner-background, -5%);
}

#copyButton:armed {
    -fx-background-color: derive(-fx-control-inner-background, -10%);
}

#helpMessageContainer {
    -fx-background-color: derive(-fx-control-inner-background, -3%);
}
